<footer class="site-footer">
 
  <div class="wrapper">

   

    <div class="footer-col-wrapper">
      <div class="footer-col  footer-col-3">
        <!--<p class="text"><em>{{ site.description }}<em></p>-->
      </div>
      <div class="footer-col  footer-col-1 bubble">
       <h3 class="max-color">●</h3>
        <ul class="contact-list">
         <p><b>Max Dreyer</b> {% if page.footer == true %}{% for bio in site.data.bios %}{% if bio.name == "max" %}{{ bio.bio }}{% endif %}{% endfor %}{% endif %}</p>
              <li>
            <a href="mailto:max.dreyer@gmail.com">Mail</a>
            </a>
          </li>
          <li>
            <a href="https://instagram.com/dreyerprojects/">Instagram</a>
            </a>
          </li>
          <li>
            <a href="https://www.facebook.com/profile.php?id=1527103&fref=ts">Facebook</a>
            </a>
          </li>
        </ul>
      </div>

      <div class="footer-col  footer-col-2 bubble">
                    <h3 class="jacob-color">●</h3>
        <ul class="social-media-list">
          <p><b>Jacob Dreyer</b> <span>{% if page.footer == true %}{% for bio in site.data.bios %}{% if bio.name == "jacob" %}{{ bio.bio }}{% endif %}{% endfor %}{% endif %}</span></p>

          <li>
            <a href="mailto:jacobaugustusdreyer@gmail.com">Mail</a>
            </a>
          </li>
            <li>
            <a href="https://instagram.com/jadrey/">Instagram</a>
            </a>
          </li>
          <li>
            <a href="https://facebook.com/jacobaugustusdreyer">Facebook</a>
            </a>
          </li>
        </ul>
      </div>

      
    </div>

  </div>

</footer>
